/* CSS: Cascading Style Sheets                                                                      */
/*    Каскадные таблицы стилей                                                                      */
/* язык иерархических правил (таблиц стилей)                                                        */
/* используемый для представления внешнего вида документа, написанного на HTML.                     */

/* CSS - отвечает за стилизацию веб-страниц:                                                        */
/* Цвета, Шрифты, Расположение элементов,                                                           */
/* Анимации и другие визуальные эффекты.                                                            */

/* ------------------------------------------------                                                 */

/* Анатомия набора правил CSS */

/* selector */
/*    p    {                                                                                        */
/*             color:   red ;                                                                       */
/*            |_____|   |_|                                                                         */
/*            Property  Property value                                                              */
/*            Свойство  Свойство значение                                                           */

/* ------------------------------------------------                                                 */

/* Есть много видов селекторов, основные из них это:                                                */

/* 1. Селектор элемента - p выбирает <p>                                                            */
/* 2. ID селектор - #my-id выбирает <p id="my-id">                                                  */
/* 3. Селектор класса - .my-class выбирает <p class="my-class">                                     */
/* 4. Селектор атрибута - img[src] выбирает <img src="myimg.png"> но не img                         */
/* 5. Селектор псевдокласса - a:hover выбирает <a>, только при наведении                            */


/* Шрифты и текст:                                                                                  */
/* 1. Вывод Google Fonts                                                                            */
/* 2. font-family: link ;                                                                           */

/* CSS - основан на блочной модели ( box-model ).                                                   */
/* Каждый из блоков, занимающий пространство на вашей странице имеет такие свойства как:            */
/* padding - пространство только вокруг контента                                                    */
/* border - сплошная линия, которая рядом с padding                                                 */
/* margin - пространство вокруг внешней стороны элемента                                            */

/*       ----------------------------------------------------------                                 */
/*       |                                                        |                                 */
/*       |                                           margin       |                                 */
/*       |     ----------------------------border------------     |                                 */
/*       |     |                                            |     |                                 */
/*       |     |                                            |     |                                 */
/*       |     |                           padding          |     |                                 */
/*       |     |                                            |     |                                 */
/*       |     |      lorem ipsum dolor amet...             |     |                                 */
/*       |     |                                            |     |                                 */
/*       |     |                                            |     |                                 */
/*       |     ----------------------------------------------     |                                 */
/*       |                                                        |                                 */
/*       |                                                        |                                 */
/*       ----------------------------------------------------------                                 */

/* width - ширина элемента                                                                          */
/* background-color - цвет позади контента                                                          */
/* color - цвет контента элемента (цвет текста - default)                                           */
/* text-shadow - устанавливает тень (тень текста - default)                                         */
/* display - устанавливает режим отображения                                                        */

/* width: 600px ; - заставляет тело быть шире                                                       */
/* margin: 0 auto ;                                                                                 */

/* Когда вы устанавливаете два значения для таких свойств как margin или padding:                   */
/* первое значение элемента влияет на верхнюю и нижнюю сторону                                      */
/* второе значение элемента влияет на левую и правую сторону                                        */

/* Центрирование изображения                                                                        */

/* img { 
        display: block; 
        margin: 0 auto;
       } 
*/

/* Внутреняя таблица стилей;                                                                        */
/* где у вас нет внешнего файла CSS */
/* но вместо этого CSS помещён внутри элемента <style>, содержащейся внутри HTML <head>             */


/* псевдокласс - :nth-child(); */
/* syntax - синтаксис: */

/* селектор:nth-child(param) {
                                styles/стили
                              }                                                                     */


/* odd - не чётные / не делятся на 2                                                                */
/* even - чётные / делятся на 2                                                                     */
/* (3)- выбирает 3 элемент по счёту                                                                 */

/* odd - li:nth-child(odd) { 
                                background-color: gray;
                             }                                                                      */

/* свойство - position                                                                              */

/* 1. static - ( по умолчанию ) нормальный поток                                                    */
/* 2. relative - ( относительное позиционирование ) нормальный поток а так же двигается             */
/* 3. absolute - ( абсолютное позиционирование ) полностью удаляется с потока                       */
/* 4. fixed - ( фиксированное позиционирование ) относительно окна, не двигается                    */
/* 5. sticy - ( прилипание ) при скролле двигается и стоит на месте                                 */

/* 1. static - не двигается                                                                         */
/* 2. relative - (top, right, bottom, left)                                                         */
/* 3. absolute - (top, right, bottom, left)                                                         */
/* 4. fixed - не двигается                                                                          */
/* 5. sticky - (top, right, bottom, left)                                                           */

/* Уровни элементов:                                                                                */
/* z-index: 1, 2, 3, 4, ...                                                                         */
/* z-index - определяет порядок наложения элементов друг на друга (ось Z) */
/* Значение z-index: 0 (по умолчанию) - Элементы с одинаковым z-index */
/* будут отображаться в порядке их появления в DOM (сначала элементы выше в коде). */



/* Переполнение:                                                                                    */
/* overflow: auto; - если контент не будет помещаться в блок, то появится полоса прокрутки          */
/* overflow: scroll; - область скролла будет отображаться всегда, даже если контент поместился      */
/* overflow: hidden; - в этом случае никакого скролла не появиться а весь контент будет обрезан     */